.buttonsContainer
{
    display: flex;
    justify-content: center;
    gap: 20px;
    align-items: center;
    margin-top: 15px;
}

.btn
{
    width: 200px;
    height: 60px;
    background: rgb(69, 69, 69);
    border: 2px solid white;
    color: white;
    font-family: "Bahnschrift",serif;
    font-size: 20pt;
}

.btn:hover
{
    background: rgb(40, 40, 40);
}

.helps
{
    color: purple;
    font-family: "Bahnschrift",serif;
    font-size: 20pt;
}